
<div>
    <div class="card-container">
        <div class="card">
            <div class="card-header" (click)="goToDetails(post.userId)">
                {{post.title}}
            </div>
            <div class="card-body" (click)="goToDetails(post.userId)">
                <p class="card-text">
                    {{post?.description}}
                </p>
            </div>
            <div class="card-footer text-muted ">
                <span class="col-sm user">{{post.userName}}</span>
                <span class="col-sm user">{{post.date}}</span>
                <app-likes [postId]="post.id" [propertyId]="likes.propertyId" [userId]="loguedUser.id"></app-likes>
            </div>
        </div>
    </div>
</div>
