
<div>
    <div class="card-container">
        <div class="card">
            <div class="card-header font-weight-bold">
                {{post.title}}
              <app-report-menu [postId]="post.id" *ngIf="likes" [propertyId]="likes.propertyId" [userId]="loguedUser.id"></app-report-menu>
            </div>
            <div class="card-body" (click)="goToDetails(post.userId)">
                <p class="card-text">
                    {{post?.description}}
                </p>
            </div>
            <div class="card-footer text-muted font-weight-bold">
              <div class="row">
                <span class="col-4">@{{post.userName}}</span>
               <span class="col-4"><i class="fa fa-calendar"></i> {{post.date}}</span>
                <div class="col-4">
                  <div class="row right">
                    <span>{{numberLikes}}</span>
                    <app-likes class="float-left" [postId]="post.id" *ngIf="likes" [propertyId]="likes.propertyId" [userId]="loguedUser.id"></app-likes>
                  </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
