<div *ngIf="!listPosts" class="m-5">
    <div class="row">
        <div class="col">
            <h2> Datos de {{ me.username }}</h2>

        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="misPosts()">
                <i class="icono izq fa fa-list"></i> Ver mis posts
            </button>
        </div>

    </div>

    <div *ngIf="!change">
        <div class="m-5">
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th style="text-align: left;">USUARIO</th>
                        <th style="text-align: left;"> {{me.username}} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="text-align: left; width: 20%;">ROL</th>
                        <td style="text-align: left; width: 80%;">
                            <span class="badge badge-pill badge-info" *ngIf="me.role == 2"> Usuario </span>
                            <span class="badge badge-pill badge-success" *ngIf="me.role == 1"> Administrador </span>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Nombre</th>
                        <td style="text-align: left;">{{me.name}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Apellidos</th>
                        <td style="text-align: left;">{{me.surname}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Correo</th>
                        <td style="text-align: left;">{{me.email}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="text-align: left;">
                            <button type="button" class="btn btn-warning" (click)="modMisDatos()">
                            <i class="icono izq fa fa-cog"></i> Modificar datos
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div *ngIf="change">
        <div class="contenedor">
            <form>
                <div class="form-group username">
                    <label for="username">Usuario</label>
                    <input required [(ngModel)]="me.username" name="username" #username="ngModel" (change)="updateUserDetails(username)" type="text" class="form-control" id="username">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input required [(ngModel)]="me.name" name="name" #name="ngModel" (change)="updateUserDetails(name)" type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="surname">Apellidos</label>
                            <input requires [(ngModel)]="me.surname" name="surname" #surname="ngModel" (change)="updateUserDetails(surname)" type="text" class="form-control" id="surname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input required [(ngModel)]="me.email" name="email" #email="ngModel" (change)="updateUserDetails(email)" type="text" class="form-control" id="email">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input required [(ngModel)]="me.password" name="password" #password="ngModel" (change)="updateUserDetails(password)" type="password" class="form-control" id="password">
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="buttons">
                        <button type="button" class="btn btn-danger" (click)="modMisDatos()">
                            <i class="icono izq fa fa-cog"></i> Cancelar
                        </button>
                        <button type="button" class="btn btn-primary" (click)="updateUser()">
                            <i class="icono izq fa fa-cog"></i> Guardar
                        </button>
                    </div>
                </div>

            </form>
        </div>


    </div>
</div>
<div *ngIf="listPosts" class="m-5">
    <div class="row">
        <div class="col">
            <h2> Posts de {{ me.username }}</h2>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="misPosts()" style="text-align: right">
                <i class="icono izq fa fa-angle-double-left"></i> Volver
            </button>
        </div>
    </div>
    <div class="m-5">
        <div *ngFor="let post of myPosts" class="m-3">
            <div class="card-container">
                <div class="card">
                    <div class="card-header">
                        {{post.title}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{post.description}}
                        </p>
                    </div>
                    <div class="card-footer text-muted ">
                        <span class="col-sm user">{{post.userName}}</span>
                        <span class="col-sm user">{{post.date}}</span>
                        <button type="button" class="btn btn-danger" style="float: right;" (click)="borrarPost(post.propertyId)">
                            <i class="icono izq fa fa-trash"></i> Borrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button class="btn btn-success" data-toggle="modal" data-tarjet="#deleteModal">
Abrir
</button>

PRUEBA MODAL DIALOG

<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tituloModal"> Titulaso </h5>
                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <h6><strong>Yeka</strong></h6>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-dismiss="modal">
                    cerrar
                </button>
                <button class="btn btn-success" type="button">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div> -->