<div>
  <div class="row">
    <div class="col-sm">
      <h1>Detalles del tweet</h1>
    </div>
    <div class="col-sm">
      <button class="btn btn-danger" *ngIf="currentUser?.id === post?.userId || currentUser?.role === 1" (click)="deletePost()">Eliminar publicación</button>
    </div>
  </div>
  <div>
    <div class="card-container">
      <div class="card">
        <div class="card-header">
          {{post?.title}}
        </div>
        <div class="card-body">
          <p class="card-text">
            {{post?.description}}
          </p>
        </div>
        <div class="card-footer text-muted ">
          <span class="col-sm user">{{post?.username}}</span>
          <span class="col-sm user">{{post?.fullName}}</span>
          <span class="col-sm user">{{post?.date}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
