<div>
  <h1>Detalles del tweet</h1>
  <div>
    <div class="card-container">
      <div class="card">
        <div class="card-header">
          {{post.title}}
        </div>
        <div class="card-body">
          <p class="card-text">
            {{post.description}}
          </p>
        </div>
        <div class="card-footer text-muted ">
          <span class="col-sm user">{{post.username}}</span>
          <span class="col-sm user">{{post.user}}</span>
          <span class="col-sm user">{{post.date}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
