.title-img {
  width: 100%;
  transform: rotate(15deg);
  opacity: 50%;
  position: absolute;
  left: 40%;
}

@media (max-width: 1028px){
  #title {
    text-align: center;
  }
  .title-img {
    width: 60%;
    position: static;
    transform: rotate(0);
  }
}

@media (max-width: 990px){
  .title-img {
    width: 50%;
  }
}
