<div class="contenedor-create">
  <div class="title">
   <div class="body-create">
     <div class="row">
       <div class="col-sm">
         <h1>Lista de publicaciones</h1>
       </div>
       <div class="col-sm">
         <button class="btn btn-primary" (click)="createPost()">Publicar</button>
       </div>
     </div>
     <form>
       <div class="form-group">
         <label for="title">Título</label>
         <input required type="text" ngModel name="title" #title="ngModel" (change)="updatePost(title)" class="form-control" id="title">
       </div>
       <div class="form-group">
         <label for="description">Descripción</label>
         <textarea required type="text" ngModel name="description" #description="ngModel" (change)="updatePost(description)" class="form-control description" id="description"></textarea>
       </div>
     </form>
   </div>
  </div>
</div>
