<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 left vertical-align-center">
      <img class="img-left" src="../../assets/logo.png" alt="logo">
      <div class="welcome-text">
        <h5><i class="oi oi-magnifying-glass"></i> Sigue lo que te interesa.</h5>
        <h5><i class="fa fa-users"></i> Entérate de lo que está hablando la gente.</h5>
        <h5><i class="fa fa-comment"></i> Únete a la conversación.</h5>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 right vertical-align-center">
      <div class="content-right">

        <div *ngIf="login">
          <app-login></app-login>
        </div>

        <div *ngIf="signin">
          <app-signin></app-signin>
        </div>

        <div *ngIf="login || signin">
          <button (click)="comeBack()" class="btn btn-outline-primary">Volver</button>
        </div>

        <div [ngClass]="{'hide': hide}">
          <img class="img-right" src="../../assets/logo.png" alt="logo">
          <h2>Descubre lo que está pasando en la ULPGC en este momento</h2><br><br>
          <h5>Únete hoy a ULPGConnected</h5><br>
          <div class="text-center">
            <button (click)="showSignin()" class="btn btn-primary mb-3">Regístrate</button><br>
            <button (click)="showLogin()" class="btn btn-outline-primary">Inicia sesión</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
