<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 left vertical-align-center">
      <div class="welcome-text">
        <h4><i class="oi oi-magnifying-glass"></i> Sigue lo que te interesa.</h4>
        <h4><i class="fa fa-users"></i> Entérate de lo que está hablando la gente.</h4>
        <h4><i class="fa fa-comment"></i> Únete a la conversación.</h4>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 right">
      <app-login></app-login>
    </div>
  </div>
</div>
