<div class="row m-5">
    <div class="col-sm-6">
        <input #termino type="text" class="form-control" placeholder="Buscar usuario">
    </div>
    <div class="col-sm-6" style="text-align: right;">
      <!-- Enlace para que vaya a la vista de crear-->
       <a routerLink="/crear">
         <button class="btn  btn-info">
         Crear Usuario
       </button>
       </a>
    </div>
</div>
<div class="row m-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Usuario
                    <i class="icono izq fa fa-chevron-up"></i>
                    <i class="icono izq fa fa-chevron-down"></i>
                </th>
                <th scope="col">
                    Nombre
                    <i class="icono izq fa fa-chevron-up"></i>
                    <i class="icono izq fa fa-chevron-down"></i>
                </th>
                <th scope="col">
                    Apellidos
                    <i class="icono izq fa fa-chevron-up"></i>
                    <i class="icono izq fa fa-chevron-down"></i>
                </th>
                <th scope="col">
                    Fecha Creación
                    <i class="icono izq fa fa-chevron-up"></i>
                    <i class="icono izq fa fa-chevron-down"></i>
                </th>
                <th scope="col">
                    Última conexión
                    <i class="icono izq fa fa-chevron-up"></i>
                    <i class="icono izq fa fa-chevron-down"></i>
                </th>
                <th scope="col"><i class="icono izq fa fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <a routerLink="/detalles">
                      <button class="btn btn-primary">Editar</button>
                    </a>
                    <button class="btn btn-secondary">Borrar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-secondary">Borrar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-secondary">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row m-5">
    <div class="col-sm-6" style="text-align: left;">
        <button class="btn  btn-outline-info">
             Anterior
        </button>
    </div>
    <div class="col-sm-6" style="text-align: right;">
        <button class="btn  btn-outline-info">
            Siguiente
        </button>
    </div>
</div>
